COMPOSE_PHP_IMAGE=php83

# ------- APACHE CONFIG ------- #
COMPOSE_PROJECT_NAME=personal-finace-manger
COMPOSE_PROJECT_URL=pfm.local
COMPOSE_APACHE_DOCUMENT_ROOT=/var/www/public
COMPOSE_APACHE_DOCUMENT_DIRECTORY=/var/www/public/
COMPOSE_PATH_TO_HOST_DIRECTORY=../application

# ------ MARIADB CONFIG ------- #
COMPOSE_DB_NAME=your_db_name
COMPOSE_DB_ROOT_PASSWORD=your_root_password
COMPOSE_DB_USER_NAME=user
COMPOSE_DB_USER_PASSWORD=PASS